<h3>
   <!-- START Language list-->
   <!-- <div class="pull-right">
      <div uib-dropdown="" is-open="language.listIsOpen" class="btn-group">
         <button type="button" uib-dropdown-toggle="" class="btn btn-default">{{language.selected}}
            <span class="caret"></span>
         </button>
         <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
            <li ng-repeat="(localeId, langName) in language.available"><a ng-click="language.set(localeId, $event)" href="#">{{langName}}</a>
            </li>
         </ul>
      </div>
   </div> -->
   <!-- END Language list    -->
   CEMS Prototype Page 
   <!-- <small>{{ 'dashboard.WELCOME' | translate:{ appName: app.name } }} !</small> -->
</h3>
<!-- START Prototype Box -->
<div class="row">
     <div class="col-lg-2">
        <!-- START panel-->
        <div class="panel panel-default" id="panelCity">
           <div class="panel-heading">City
              <paneltool tool-refresh="standard" tool-collapse="tool-collapse"></paneltool>
           </div>
           <div class="panel-wrapper" uib-collapse="panelCity">
              <div class="panel-body">
                 <p>Body</p> 
              </div>
           </div>
        </div>
        <!-- END panel-->
     </div>
     <div class="col-lg-2">
        <!-- START panel-->
        <div class="panel panel-default" id="panelResident">
           <div class="panel-heading">ResidentialArea
              <paneltool tool-refresh="standard" tool-collapse="tool-collapse"></paneltool>
           </div>
           <div class="panel-wrapper" uib-collapse="panelResident">
              <div class="panel-body">
                 <p>Body</p>
              </div>
           </div>
        </div>
        <!-- END panel-->
     </div>
     <div class="col-lg-2">
        <!-- START panel-->
        <div class="panel panel-default" id="panelCommerce">
           <div class="panel-heading">Commercial Area
              <paneltool tool-refresh="standard" tool-collapse="tool-collapse"></paneltool>
           </div>
           <div class="panel-wrapper" uib-collapse="panelCommerce">
              <div class="panel-body">
                 <p>Body</p>
              </div>
           </div>
        </div>
        <!-- END panel-->
     </div>
     <div class="col-lg-2">
        <!-- START panel-->
        <div class="panel panel-default" id="panelIndustry">
           <div class="panel-heading">Industrial Area
              <paneltool tool-refresh="standard" tool-collapse="tool-collapse"></paneltool>
           </div>
           <div class="panel-wrapper" uib-collapse="panelIndustry">
              <div class="panel-body">
                 <p>Body</p>
              </div>
           </div>
        </div>
        <!-- END panel-->
     </div>

     <div class="col-lg-2">
        <!-- START panel-->
        <div class="panel panel-default" id="panelOthers">
           <div class="panel-heading">Others
              <paneltool tool-refresh="standard" tool-collapse="tool-collapse"></paneltool>
           </div>
           <div class="panel-wrapper" uib-collapse="panelOthers">
              <div class="panel-body">
                 <p>Body</p>
              </div>
           </div>
        </div>
        <!-- END panel-->
     </div>
</div>
<!-- END Prototype Box -->

<!-- Start Prototype Box -->

<div class="row">
    <div class="col-lg-12">
        <div id="panelChart9" ng-controller="PrototypeGaugeController as gauge" class="panel panel-default">
           <div class="panel-heading">
                <div class="panel-title">시설 정보 및 현재시간 전력사용량 요약</div>
           </div>
           <div uib-collapse="panelChart9" class="panel-wrapper" >
              <div class="panel-body">
                      <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5" ng-controller="PrototypeInfoController as info">
                                <div class="panel widget">
                                        <div class="row row-table row-flush">
                                           <div class="col-xs-6 bb br">
                                              <div class="row row-table row-flush">
                                                 <div class="col-xs-4 text-center text-inverse">
                                                    <em class="fa fa-building fa-2x"></em>
                                                 </div>
                                                 <div class="col-xs-8">
                                                    <div class="panel-body text-center">
                                                       <h4 class="mt0">{{info.info.name}}</h4>
                                                       <p class="mb0 text-muted">시설명</p>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                           <div class="col-xs-6 bb">
                                              <div class="row row-table row-flush">
                                                 <div class="col-xs-4 text-center text-inverse">
                                                    <em class="fa fa-file-o fa-2x"></em>
                                                 </div>
                                                 <div class="col-xs-8">
                                                    <div class="panel-body text-center">
                                                       <h4 class="mt0">{{info.info.type}}</h4>
                                                       <p class="mb0 text-muted">시설형태</p>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                        <div class="row row-table row-flush">
                                           <div class="col-xs-6 br">
                                              <div class="row row-table row-flush">
                                                 <div class="col-xs-4 text-center text-inverse">
                                                    <em class="fa fa-phone fa-2x"></em>
                                                 </div>
                                                 <div class="col-xs-8">
                                                    <div class="panel-body text-center">
                                                       <h4 class="mt0">{{info.info.tell_am}}</h4>
                                                       <p class="mb0 text-muted">전화번호</p>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                           <div class="col-xs-6">
                                              <div class="row row-table row-flush">
                                                 <div class="col-xs-4 text-center text-inverse">
                                                    <em class="fa fa-map-marker fa-2x"></em>
                                                 </div>
                                                 <div class="col-xs-8">
                                                    <div class="panel-body text-center">
                                                       <!-- <h4 class="mt0">{{info.info.address[0]}}</h4> -->
                                                        <h4 class="mt0">{{info.info.address}}</h4>
                                                       <p class="mb0 text-muted">주소</p>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                        </div>
                        <div class="col-lg-5">
                                <div id="chart"></div>
                        </div>
                        <div class="col-lg-1"></div>
                      </div>
                
              </div>
              <div class="panel-footer">
                  <!-- <div align="right">
                        <div class="btn-group">
                                <button type="button" class="btn btn-default">RAW</button>
                                <button type="button" class="btn btn-default">HOUR</button>
                                <button type="button" class="btn btn-default">DAY</button>
                                <button type="button" class="btn btn-default">MONTH</button>
                                <button type="button" class="btn btn-default">YEAR</button>
                        </div>
                  </div> -->
              </div>
           </div>
        </div>
     </div>
</div>

<!-- END Prototype Box -->
<div class="row">
        <div class="col-lg-12">
           <div id="panelChart4" ng-controller="LineChartController as linechart" class="panel panel-default">
              <div class="panel-heading">
                 <paneltool tool-collapse="tool-collapse"></paneltool>
                 <div class="panel-title">예측 모델의 예측값 대비 실측값 분석</div>
              </div>
              <div uib-collapse="panelChart4" class="panel-wrapper">
                 <div id = "myChartContent" class="panel-body">
                    <!-- <div id="chart2"></div> -->

                    <!-- <flot dataset="linechart.dataSet" options="linechart.lineOptions" height="300px"></flot> -->
                    <canvas id="myChart" width="500px" height="300px"></canvas>
                    
                    
               </div>
               <div class="panel-footer">
                    <div align="right">
                          <div class="btn-group">
                                <button type="button" class="btn btn-default" ng-click="raw()">RAW</button>
                                <button type="button" class="btn btn-default" ng-click="quarter()">15분</button>                                  
                                <button type="button" class="btn btn-default" ng-click="half()">30분</button>
                                <button type="button" class="btn btn-default" ng-click="hour()">60분</button>
                          </div>
                    </div>
                </div>
          </div>
       </div>
    </div>
</div>
<!-- END Prototype Box -->


<div class="row">
        <div class="col-lg-12" ng-controller="PrototypeDatatableController as datatable">
                    <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">예측 모델의 예측값 대비 실측값 분석 데이터테이블</div>
                </div>
                <div class="panel-body">
                        <!-- scope.on으로 인해 데이터 입력 이후 동적 Compile  -->
                        <table id="datatable" dt-options="datatable.dtOptions" dt-columns="datatable.dtColumns" dt-instance="datatable.dtInstance" class="row-border hover"></table>
                </div>
            </div>
    </div>
</div>

<div class="row">
        <!-- <div class="col-lg-6">
           <div id="panelChart4" ng-controller="PrototypeController as proto" class="panel panel-default">
              <div class="panel-heading">
                 <paneltool tool-collapse="tool-collapse" tool-dismiss="tool-dismiss"></paneltool>
                 <div class="panel-title">예측 모델 잔차 및 추세 분석</div>
              </div>
              <div uib-collapse="panelChart4" class="panel-wrapper">
                 <div class="panel-body">
                    <flot dataset="proto.barData" options="proto.barOptions" height="300px"></flot>
               </div>
          </div>
       </div>
    </div> -->

    <!-- <div class="col-lg-6">
            <div id="panelChart4" ng-controller="PrototypeController as proto" class="panel panel-default">
               <div class="panel-heading">
                  <paneltool tool-collapse="tool-collapse" tool-dismiss="tool-dismiss"></paneltool>
                  <div class="panel-title">예측 모델 잔차 및 추세 분석</div>
               </div>
               <div uib-collapse="panelChart4" class="panel-wrapper">
                  <div class="panel-body">
                        <flot dataset="proto.barData" options="proto.barOptions" height="300px"></flot>
                </div>
           </div>
        </div>
     </div> -->
</div>